$red: #e7473c;
$white: white;
$fixedWidth: 33%;

%link {
  border: 1px solid #5c5454;
  padding: 20px 80px;
  font-size: 12px;
  letter-spacing: 2px;
  &:hover {
    cursor: pointer;
    border: none;
    background-color: #5c5454;
    color: white;
    transition-duration: 0.2s;
  }
}